<div class="login-container">
  <div class="container login-form mt-5" *ngIf="!changePassword">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">Processing....</span>
      </button>
    </form>
  </div>

  <div class="container password-form " *ngIf="changePassword">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">Processing....</span>
      </button>
    </form>
  </div>
</div>